@model BarisKuafor.Models.Randevu

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Randevu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RandevuZamani" class="control-label"></label>
                <input asp-for="RandevuZamani" class="form-control" />
                <span asp-validation-for="RandevuZamani" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BERBERLERID" class="control-label"></label>
                <select asp-for="BERBERLERID" class ="form-control" asp-items="ViewBag.BERBERLERID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Adiniz" class="control-label"></label>
                <input asp-for="Adiniz" class="form-control" />
                <span asp-validation-for="Adiniz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonNumaraniz" class="control-label"></label>
                <input asp-for="TelefonNumaraniz" class="form-control" />
                <span asp-validation-for="TelefonNumaraniz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BECERILERID" class="control-label"></label>
                <select asp-for="BECERILERID" class ="form-control" asp-items="ViewBag.BECERILERID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Okeyleme" class="control-label"></label>
                <input asp-for="Okeyleme" class="form-control" />
                <span asp-validation-for="Okeyleme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

